@import url('https://fonts.googleapis.com/css2?family=Inter');
@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-slider {
    height: 90vh !important;
}

.thumbs-wrapper>ul>li>img {
    height: 7vh;
    object-fit: cover;
}

@media (max-width: 480px) {
    .carousel-slider {
        max-height: 60vh !important;
    }
}